html {
  overflow-x: hidden;
}
body {
  background-color: black;
  overflow-x: hidden;
}

.modal-container {
  background-color: rgba(14, 12, 12, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.modal-container.popmodal {
  pointer-events: auto;
  z-index: 900;
  opacity: 1;
}
.body {
  overflow-y: hidden;
}
.modalme {
  background-color: #fff;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 600px;
  max-width: 100%;
  text-align: center;
}
.modalScroll {
  overflow-y: auto;
  overflow-x: hidden;
  height: 300px;
} /**MY MODAL*/

.psize15 {
  font-size: 15px;
}
#hsize {
  font-size: 30px;
}
.flex-wrapper {
  display: flex;
  min-height: 97vh;
  flex-direction: column;
  justify-content: space-between;
}
.alterReview {
  background-color: white;
  color: black !important;
}
.alterReview h3,
.alterReview:active {
  color: black;
}
.comentario {
  resize: none;
  font-size: 16px;
  color: black;
}
.responseInput {
  resize: none;
  font-size: 16px;
  color: black;
  border-radius: 20px;
  overflow-y: hidden;
}
.alterConstant-width {
  width: 100% !important;
  text-align: center;
  white-space: normal;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
#revId {
  display: none;
}
.fa {
  float: right;
  font-size: 23px;
}
.edit-deleteReview {
  display: none;
  position: absolute;
  width: fit-content;
  left: -80px;
  background: white;
  z-index: 999;
  margin-left: -7px;
}
.edit-deleteReview button {
  font-size: 17px;
}
@keyframes fa-spin-reverse {
  0% {
    transform: scaleX(-1) rotate(-360deg);
  }
  100% {
    transform: scaleX(-1) rotate(0deg);
  }
}
.fa-spin-reverse {
  -webkit-animation: fa-spin-reverse 2s linear infinite;
  animation: fa-spin-reverse 2s linear infinite;
}
.slideTop {
  position: absolute;
  animation: animatetop 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
    display: none;
  }
  to {
    top: 0;
    opacity: 1;
    display: block;
  }
}

.revEditor {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.cleaner {
  cursor: inherit !important;
  max-height: 400px;
  overflow-y: auto;
}

.fa-cog {
  cursor: pointer;
}

textarea {
  max-height: 200px;
}

#taskTitle {
  color: rgba(243, 243, 243, 0.5);
}

.wrapup {
  padding-left: 15px;
  padding-right: 15px;
}

.agentName {
  color: blue;
}

i {
  font-size: 20px;
}

.loading {
  position: absolute;
  width: 5%;
  margin-left: 47%;
  margin-top: 2%;
  display: none;
}
#task,
#taskTitle,
#taskCount {
  display: none;
}

#taskCount {
  color: rgba(253, 253, 253, 0.5);
}

.red {
  color: rgb(207, 25, 25) !important;
}

.green {
  color: green !important;
}

.yellow {
  color: rgb(209, 195, 5) !important;
}

.blue {
  color: rgb(0, 0, 255) !important;
}
.black {
  color: black !important;
}

.darkgray {
  color: rgb(74, 94, 126) !important;
}

.halfOpacity {
  opacity: 0.7;
}

.hide {
  display: none;
}

.fa-circle {
  cursor: pointer;
}

.popover-title {
  text-align: center;
}

.custom-popover li {
  border: none !important;
  text-align: center;
}

.custom-popover li:nth-child(2) {
  border-top: 1px solid #ccc !important;
}

.custom-popover li:last-child {
  border-top: 1px solid #ccc !important;
}

#faTask {
  font-size: 18px;
}

ul {
  list-style: none;
}

p {
  font-size: 17px;
  user-select: text;
}
pre {
  white-space: pre-wrap !important;
  overflow-x: hidden;
}

.noCursor {
  cursor: not-allowed;
}
.pointerEvents {
  pointer-events: none;
}
.bold {
  font-weight: bold;
}
